<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lion Insurance Admin</title>

    <link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/stylesheets/font-awesome.css" rel="stylesheet">

    <link href="/admin/stylesheets/animate.css" rel="stylesheet">
    <link href="/admin/stylesheets/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <div>
         <h3 style="color:#2196f3;">Lion Insurance</h3>
            <p>Login to view admin settings.</p>
            <% if !flash[:success].blank? %>
              <div class="alert alert-success">
                    <%= flash[:success] %>
              </div>
              <% elsif !flash[:error_notice].blank? %>
               <div class="alert alert-danger">
                    <%= flash[:error_notice] %>
              </div>
              <% end %>
             <%= form_tag({controller: "admin", action: "process_sign_in"}, :class => "m-t", :role => "form") do %>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="john.doe" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="secret gabarish" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" style='background:#2196f3;'>Login</button>

                <a href="#"><small>Forgot password?</small></a>
            <% end %>
            <p class="m-t"> <small>Lion Insurance Admin Section&copy; 2015</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/admin/javascripts/jquery-1.10.2.js"></script>
    <script src="/admin/javascripts/bootstrap.min.js"></script>

</body>

</html>
