<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lion Insurance | Admin Users</title>

    <link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/admin/stylesheets/animate.css" rel="stylesheet">
    <link href="/admin/stylesheets/style.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/admin/stylesheets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element"> <span>
                        <% @user = User.find(session[:user_id]) %> 
                           
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= session[:first_name].capitalize+' '+session[:last_name].capitalize %></strong>
                             </span></span> </a>
                              <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= session[:username] %></strong>
                             </span></span> </a>
                            
                        </div>
                    </li>
                    <li>
                        <a href="home"><i class="fa fa-th-large"></i> <span class="nav-label">Draws</span></a>
                    </li>
                    <li class='active'>
                        <a href="users"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a>
                    </li>
                    <li>
                        <a href="winners"><i class="fa fa-user"></i> <span class="nav-label">Winners</span></a>
                    </li>
                    <li>
                        <a href="/admin/signout"><i class="fa fa-sign-out"></i> <span class="nav-label">Sign Out</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="white-bg">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
             <% if !flash[:success].blank? %>
              <div class="alert alert-success">
                    <%= flash[:success] %>
              </div>
              <% elsif !flash[:error_notice].blank? %>
               <div class="alert alert-danger">
                    <%= flash[:error_notice] %>
              </div>
              <% end %>
              <h2>Users</h2>
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                        <a href="#signup" data-toggle="modal" class="btn btn-primary " style="background:#2196f3;">Add a new User</a>
                             <table class="table table-striped table-bordered table-hover dataTables-example" id="editable" >
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Created At</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %> 
               <tr class="gradeX">
                   <td><a href='#' data-toggle="modal"><%= user.first_name.capitalize %></a></td>
                   <td><%= user.last_name.capitalize %></td>
                   <td><%= user.username %></td>
                   <td class="center"><%= user.created_at %></td>
                   <td class="center"><a href='#delete<%= user.id %>' data-toggle="modal"><i class='fa fa-trash-o'></i></a></td>
               </tr>
            <% end %> 
            </tbody>
            <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Created At</th>
                <th>Edit</th>
            </tr>
            </tfoot>
            </table>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="signup" class="modal fade" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                     <h4 style="text-align: center; margin-bottom: 10px;">Add a User to the Lion Insurance.</h4>
                                 <%= form_tag({controller: "admin", action: "process_sign_up"}) do %>
                                 <div class="form-group">
                                        <label for="email">First Name</label>
                                        <input type="text" class="form-control" id="name" name="first_name" placeholder='John / Jane' />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Last Name</label>
                                        <input type="text" class="form-control" id="email" name="last_name" placeholder='Doe'/>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder='john240' />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder='secret gabarish' />
                                    </div>
                                    <div class="submit">
                                        <button type="submit" class="btn btn-primary col-sm-12" style='padding: 10px; font-weight: bold; background:#2196f3;'>
                                            <span>Create a new User</span>
                                        </button>
                                    </div>
                                <% end %>
                                                </div>
                                                
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>


                            <% @users.each do |user_delete| %> 
                            <div id="delete<%= user_delete.id %>" class="modal fade" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                  <h3 class="m-t-none m-b " style='margin-left: 20%;'>Delete this User</h3>
                                                      <a href="/admin/user/delete/<%= user_delete.id %>" class="btn btn-primary" style='width:100px; margin-left: 10%;'>Yes </a>
                                                      <a data-dismiss="modal" class="btn btn-danger" style='width:100px;'>No</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
    

    <!-- Mainly scripts -->
    <script src="/admin/javascripts/jquery-1.10.2.js"></script>
    <script src="/admin/javascripts/bootstrap.js"></script>
    <script src="/admin/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- Data Tables -->
    <script src="/admin/javascripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/admin/javascripts/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/admin/javascripts/inspinia.js"></script>
    <script src="/admin/javascripts/plugins/pace/pace.min.js"></script>

    <!-- Peity -->
    <script src="/admin/javascripts/plugins/peity/jquery.peity.min.js"></script>

    <!-- Peity -->
    <script src="/admin/javascripts/demo/peity-demo.js"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable();
        });
    </script>

</body>

</html>
