<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lion Insurance | Admin Winners</title>

    <link href="/admin/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/admin/stylesheets/animate.css" rel="stylesheet">
    <link href="/admin/stylesheets/style.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/admin/stylesheets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element"> <span>
                        <% @user = User.find(session[:user_id]) %> 
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= session[:first_name].capitalize+' '+session[:last_name].capitalize %></strong>
                             </span></span> </a>
                              <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= session[:username] %></strong>
                             </span></span> </a>
                            
                        </div>
                    </li>
                    <li>
                        <a href="home"><i class="fa fa-th-large"></i> <span class="nav-label">Draws</span></a>
                    </li>
                    <li>
                        <a href="users"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a>
                    </li>
                    <li class="winners">
                        <a href="winners"><i class="fa fa-user"></i> <span class="nav-label">Winners</span></a>
                    </li>
                    <li>
                        <a href="/admin/signout"><i class="fa fa-sign-out"></i> <span class="nav-label">Sign Out</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="white-bg">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
             <% if !flash[:success].blank? %>
              <div class="alert alert-success">
                    <%= flash[:success] %>
              </div>
              <% elsif !flash[:error_notice].blank? %>
               <div class="alert alert-danger">
                    <%= flash[:error_notice] %>
              </div>
              <% end %>
              <h2>Winners</h2>
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                             <table class="table table-striped table-bordered table-hover dataTables-example" id="editable" >
            <thead>
            <tr>
                <th>Phone Number</th>
                <th>Prize</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <% @won.each do |winner| %> 
               <tr class="gradeX">
                   <td><%= winner.phone_number %></td>
                   <td><%= winner.prize %></td>
                   <td class="center"><%= winner.created_at %></td>
               </tr>
            <% end %> 
            </tbody>
            <tfoot>
            <tr>
                <th>Phone Number</th>
                <th>Prize</th>
                <th>Created At</th>
            </tr>
            </tfoot>
            </table>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </div>

      
    

    <!-- Mainly scripts -->
    <script src="/admin/javascripts/jquery-1.10.2.js"></script>
    <script src="/admin/javascripts/bootstrap.js"></script>
    <script src="/admin/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- Data Tables -->
    <script src="/admin/javascripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/admin/javascripts/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/admin/javascripts/inspinia.js"></script>
    <script src="/admin/javascripts/plugins/pace/pace.min.js"></script>

    <!-- Peity -->
    <script src="/admin/javascripts/plugins/peity/jquery.peity.min.js"></script>

    <!-- Peity -->
    <script src="/admin/javascripts/demo/peity-demo.js"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable();
        });
    </script>

</body>

</html>
