

<div class="item active" >
    <div class="container">


        <br>
        <br>
        <br>
        <br>
        <div  id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true" >
            <div class="modal-dialog " style="width: 900px; " >
                <div class="modal-content" style=" padding:10px; border-radius: 40px 40px 0 0 ; padding-right: 0;">

                    <div class="modal-body" style="padding-right: 0;" >
                        <article class="single-project" style="padding-right: 0; " >



                            <div class="row text-center" style="background: #FFF; padding:10px; margin-top: -20px; border-radius: 20px 20px 0 0 ; margin-right: 20px;">
                                <img src="images/lionlogo.png" width="200">

                            </div>


                            <div class="row">
                            <div class="col-sm-6" style="padding: 20px;" >
                                <img src="images/title.png" width="400">

                                <img src="images/prizes.png" width="400">

                            </div>




                            <div class="col-sm-6" style="margin-right: -200px;" >

                                <div style="background: #3648b6; padding:50px; border-radius: 5px;">
                                <%= form_tag({controller: "index", action: "process_submit"}) do %>
                                    <div class="form-group">
                                        <label style="color:#FFF000">MY PHONE NUMBER</label>
                                        <input type="text" name="phone_number" class="form-control phone"  placeholder="MY PHONE NUMBER" required="required">

                                    </div>
                                    <div class="form-group">
                                       <label style="color:#FFF000">MY LOVE ITEM 1</label>
                                       <input type="text" name="item_1" class="form-control" placeholder="MY LOVE ITEM 1" required="required">
                                    </div>


                                    <div class="form-group">
                                        <label style="color:#FFF000">MY LOVE ITEM 2</label>
                                        <input type="text" name="item_2" class="form-control" placeholder="MY LOVE ITEM 2" required="required">
                                    </div>


                                    <div class="form-group">
                                        <label style="color:#FFF000">MY LOVE ITEM 3</label>
                                        <input type="text" name="item_3" class="form-control" placeholder="MY LOVE ITEM 3" required="required">
                                    </div>
                                    <div class="form-group">
                                       <button class="btn btn btn-default" style='font-size:19px; font-weight: bold;'>SUBMIT</button>
                                    </div>
                                    <% end %>
                                </div>
                            </div>


                                </div>





                        </article>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>





