

<div class="item active" >
    <div class="container">


        <br>
        <br>
        <br>
        <br>
        <div  id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true" >
            <div class="modal-dialog " style="width: 900px; " >
                <div class="modal-content" style=" padding:10px; border-radius: 40px 40px 0 0 ; padding-right: 0;">

                    <div class="modal-body" style="padding-right: 0;" >
                        <article class="single-project" style="padding-right: 0;">
                            <div class="row text-center" style="background: #FFF; padding:10px; margin-top: -20px; border-radius: 20px 20px 0 0 ; margin-right: 20px;">
                                <img src="images/lionlogo.png" width="200">
                            </div>

                            <div class="row">
                                 <div class="col-sm-12" style="margin-left:-15px;background-color: #2648B6; border-bottom: 2px solid #ccc;">
                                      <% if flash[:prize] == 'bottle' %>
                                         <img src="images/bottle.jpg" style="margin-left:-15px;">
                                      <% elsif flash[:prize] == 'key_holder' %> 
                                         <img src="images/key_holder.jpg" style="margin-left:-15px;">
                                      <% elsif flash[:prize] == 'gym_bag' %> 
                                         <img src="images/bag.jpg" style="margin-left:-15px;">
                                      <% elsif flash[:prize] == 'MB' %> 
                                         <img src="images/mbs.jpg" style="margin-left:-15px;">
                                      <% elsif flash[:prize] == 'umbrella' %> 
                                         <img src="images/umbrella.jpg" style="margin-left:-15px;">
                                      <% elsif flash[:prize] == 'note_pad' %> 
                                         <img src="images/notepad.jpg" style="margin-left:-15px;">
                                      <% end %> 
                                 </div>
                            </div>

                            <div class="row">
                                 <div class="col-sm-14" style=' width:100%; height: 100%; margin-left: 15px;'>
                                      <img src="images/base_win.jpg" style="margin-left:-30px;">
                                 </div>
                                 <div class="col-sm-5" style='margin-top:-80px; margin-left:33%;'>
                                       <a href='home'><button style='padding:10px; background-color: #FFF949; font-weight: bold; border: 1px solid #FFF949; border-raduis: 3px; font-size: 18px; color: #2648B6; font-family: Arial;border-radius: 3px;'>CLICK HERE TO ENTER DRAW</button></a>
                                 </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>





