
<section id="contact" class="section section-center section-contact" style="margin-top: -50px;" style='font-family: Arial;'>
    <div class="container">


        <div class="col-sm-12 terms" STYLE="padding: 29px;">
            <h4 STYLE="font-size: 25px; text-align: left; font-family: Arial;">TERMS AND CONDITIONS</h4>

            <P STYLE="font-size: 12px; text-align: left; color: #FFF; font-family: Arial;">
                These terms and conditions apply to all aspects of your participation with in this promotion. In order to participate in this promotion, you must read these terms and conditions and if you understand and agree to all of them, then participate.

                <br>
                <br>
                <br>
               By submitting, you represent to us that you have read, understood and accept that you will be bound by these terms and conditions. Participate only when you have entered your Lion Assurance policy number and phone number.
               
               <br>
               If you require assistance with or explanation of any of these terms and conditions, we advice that you seek expert independent legal advice.
               <br>
               By participating in the promotion and accessing this app, you confirm and agree to the following terms:
               <ol style='text-align: justify;'>
                   <li> *You are at least 18 years of age.*</li>
                   <li> Ensure you like the Lion Assurance Facebook page.</li>
                   <li> *You have a Lion Assurance policy number from January 2015 to December 2015. Expired policies will not be validated.*</li>
                   <li> By submitting your phone number, you give us the right to call you for any bigger prizes that you may win and let you know about our other offers.</li>
                   <li> Imagery used does not warrant what will be won or awarded.</li>
                   <li> We reserve the right to reverse or place a stop on any prize that is issued to you if we discover that your winning was a result of fraud or any fraudulent act or consider that continuance of participation is illegal or constitutes offensive material</li>
                   <li> We reserve the right to suspend or close your access to our app at any time without notice and without giving you any reason.  </li>
                   <li> Participation will only be valid for the duration of the promotion. The promotion starts on 26th August 2015 and ends December.</li>
                   <li> All winners will be contacted by our Customer Care Manager. These prizes will be given out on a weekly, monthly basis and at the end of the promotion. Come with a valid Identity card and if you can't make it, an authorized representative should be sent.</li>
               </ol>
            </P>
        </div>



    </div>
</section>
<footer id="footer" class="site-footer">
    <div class="container">
        <div class="copyright"><p>©Lion Assurance.<br />  Designed by Adrenalin Warehouse</p></div>
    </div>
</footer>




























