
<section class="section section-center section-cta" style="margin-top: -50px; margin-bottom: -60px;">
    <img src="/images/micro_site_pop.png" style="width: 30%;" >
    <!-- <img src="/images/backgrounds/banner.png" style="width: 100%;" > -->
</section>






<section id="contact" class="section section-center section-cta"  style='font-family: Arial;'>
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6 prizes">
                <H4 style='font-family: Arial;'>Bi-WEEKLY:</H4>
                Music beats, gym bags, power banks
            </div>

            <div class="col-md-4 col-sm-6 prizes">
                <H4 style='font-family: Arial;'>MONTHLY DRAW:</H4>
                Motorcycles, mountain Bikes, Flat screen TV
            </div>


            <div class="col-md-3 col-sm-6 prizes">
                <H4 style='font-family: Arial;'>GRAND DRAW:</H4>
                Toyota Runx
            </div>




        </div>
    </div>
    <div class="row">
        <h3 class="text-white" style='font-family: Arial;'>ENTER NOW</h3>
    </div>
    <% if !flash[:success].blank? %>
              <div class="alert alert-success">
                    <%= flash[:success] %>
              </div>
              <% elsif !flash[:error_notice].blank? %>
               <div class="alert alert-danger">
                    <%= flash[:error_notice] %>
              </div>
              <% end %>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                <%= form_tag({controller: "home", action: "thankyou"}) do %>
                    <div class="form-group">
                        <label class="sr-only">YOUR NAMES</label>
                        <input type="text" class="form-control" placeholder="YOUR NAMES" name="names" required="required" >
                    </div>
                    <div class="form-group">
                        <label class="sr-only">YOUR PHONE NUMBER</label>
                        <input type="text" class="form-control phone_number" placeholder="YOUR PHONE NUMBER" name="phone_number" required="required">
                    </div>
                </div>
                <input type="hidden" name="token" value="">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="sr-only">ITEM INSURED</label>
                        <input type="text" class="form-control " placeholder="ITEM INSURED" name="item_insured" required="required" >
                    </div>
                    <div class="form-group">
                        <label class="sr-only">POLICY NUMBER</label>
                        <select class="form-control pull-left" name="f1" style="width: 100px;" name="b1">
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="B2">B3</option>
                        </select>
                        <select class="form-control pull-left" name="f2" style="width: 100px;" name="ass">
                            <option value = "ASS">ASS</option><option value = "AVN">AVN</option><option value = "BAR">BAR</option><option value = "BBB">BBB</option><option value = "BON">BON</option><option value = "BPV">BPV</option><option value = "BUR">BUR</option><option value = "CAR">CAR</option><option value = "CCI">CCI</option><option value = "CLI">CLI</option><option value = "CPM">CPM</option><option value = "CRO">CRO</option><option value = "DIP">DIP</option><option value = "DOL">DOL</option><option value = "DOM">DOM</option><option value = "EAR">EAR</option><option value = "EEI">EEI</option><option value = "EMP">EMP</option><option value = "FIG">FIG</option><option value = "FIR">FIR</option><option value = "GIT">GIT</option><option value = "GLS">GLS</option><option value = "GPA">GPA</option><option value = "HOR">HOR</option><option value = "LEI">LEI</option><option value = "LIV">LIV</option><option value = "LOA">LOA</option><option value = "MBD">MBD</option><option value = "MON">MON</option><option value = "MRC">MRC</option><option value = "MRH">MRH</option><option value = "MTB">MTB</option><option value = "MTC">MTC</option><option value = "MTF">MTF</option><option value = "MTG">MTG</option><option value = "MTP">MTP</option><option value = "MTS">MTS</option><option value = "MTT">MTT</option><option value = "PAC">PAC</option><option value = "PLI">PLI</option><option value = "PRO">PRO</option><option value = "PVT / STE">PVT / STE</option><option value = "TOL">TOL</option><option value = "TRA">TRA</option><option value = "TRG">TRG</option><option value = "WCA">WCA</option>
                        </select>
                        <select class="form-control pull-left" name="f3" style="width: 100px;" name="pol">
                            <option>POL</option>
                        </select>
                        <input type="text" class="form-control phone " placeholder="POLICY NUMBER" style="max-width: 260px;" name="policy_number" required="required">
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-default submit_data" style='font-size:19px; font-weight: bold;'>ENTER NOW</button>
            <% end %>
    </div>




</section>
<section id="contact" class="section section-center section-contact" style="margin-top: -50px;" style='font-family: Arial;'>
    <div class="container">


        <div class="col-sm-7 terms" STYLE="padding: 29px;">
            <h4 STYLE="font-size: 25px; text-align: left; font-family: Arial;">HOW TO ENTER</h4>

            <P STYLE="font-size: 12px; text-align: left; color: #FFF; font-family: Arial;">
                Buy or renew your motor 3rd party, Motor comprehesive, Home & House hold, or family personal Accident insurance for a chance to win amazing prizes. Get a policy number to enter the draw.

                <br>
                <br>
                <br>
                Every insurance purchase wins you an instant prize and an automatic entry into the Bi-weekly draws and grand draw. The more times you buy, the higher your chances.
            </P>
        </div>


        <div class="col-sm-4 terms"  STYLE="padding: 40px;">
            <h4 STYLE="font-size: 25px; text-align: left; font-family: Arial;">TERMS AND<br> CONDITIONS APPLY</h4>
            <br>

            <a class="btn btn-default" STYLE="font-size: 14px; font-family: Arial;"> VIEW TERMS AND CONDITIONS</a>

        </div>



    </div>
</section>
<footer id="footer" class="site-footer">
    <div class="container">




        <div class="copyright"><p>©Lion Assurance.<br />  Designed by Adrenalin Warehouse</p></div>
    </div>
</footer>




























