<h2>Import Products</h2>
<% if flash[:success].present? %>
  <%= flash[:success] %> 
<% end %>  
<%= form_tag({controller: "import", action: "process_import"}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

