<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lion Assurance :: Insure & Win</title>
<%= stylesheet_link_tag('template') %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

</head>
<body style="background: url(/images/facebookapp.jpg) no-repeat; ">
<%= yield %> 
<div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>
</body>
 <%= javascript_include_tag('jquery-1.10.2.min') %>
 <%= javascript_include_tag('jquery.isotope.min') %>
 <%= javascript_include_tag('bootstrap-3.1.1.min') %>
 <%= javascript_include_tag('jquery.singlePageNav.min') %>
 <%= javascript_include_tag('main') %>
</html>
<!-- Localized -->